.kzEklablog-container {
	max-width: 64rem;
}

.kzEklablog-infos {
	border: 1px solid #333;
	padding: 0 1rem;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
}

.kzEklablog-infos span:first-of-type {
	display: inline-block;
	width: 45%;
}

.kzEklablog-infos span:last-of-type {
	background-color: #eee;
	padding: 0.25rem 1rem;
}

#kzEklablog-frm p {
	margin: 0.25rem 0.5rem;
}

#kzEklablog-frm fieldset {
	padding: 0.25rem 1.25rem;
	border: 1px solid #333;
	border-radius: 1rem;
}

#kzEklablog-frm fieldset:first-of-type > p:not(last-of-type) {
	display: grid;
	grid-template-columns: 16rem 1fr
}

#kzEklablog-frm fieldset:not(:last-of-type) {
	margin-bottom: 1rem;
}

#kzEklablog-frm fieldset:last-of-type {
	display: flex;
}

#kzEklablog-frm fieldset legend {
	margin: 0;
	padding: 0 1rem;
}

#kzEklablog-frm label {
	display: inline-block;
	white-space: nowrap;
}

#kzEklablog-frm input[type="file"] {
	flex-grow: 1;
}

.kzEklablog.scrollable-table {
	max-height: calc(100vh - 22rem);
       	padding-bottom: 1rem;
}

.scrollable-table.kzEklablog td:first-of-type {
	text-align: right;
}

.scrollable-table.kzEklablog td:nth-of-type(2),
.scrollable-table.kzEklablog td:nth-of-type(3) {
	max-width: 50rem;
	overflow-x: auto;
	text-overflow: ellipsis;
}

.kzEklablog.in-action-bar {
	width: fit-content;
	right: 2rem;
}

.kzEklablog.in-action-bar span:first-of-type {
	margin-right: 2rem;
	padding: 0 0.5rem;
	font-size: larger;
	text-transform: capitalize;
	border: 1px solid #333;
	border-radius: 0.5rem;
}

/* --- spin loader --- */

#spin-container {
	position: fixed;
	top: 50vh;
	left: 50vw;
	height: 20rem;
	width: 33vw;
	min-width: 200px;
	padding: 0.5rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ccc;
	cursor: pointer;
	transition: .2s linear;
	background: #ccc;
	transform: translate(-50%, -50%);
}

#spin-container:not(.active) {
	display: none;
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

